{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Prepare for Universal Credit code examples
      </h1>

      <ul class="list list-bullet">
        <li><a href="to-do-list">To-do list</a></li>
        <li><a href="to-do">To-do page (with comments)</a></li>
      </ul>

    </div>{# /column-two-thirds #}
  </div>{# /grid-row #}
</main>

{% endblock %}