{% extends "layout.html" %}

{% block page_title %}
  Prepare for Universal Credit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Content changes</h1>

  <div class="timeline">

    <h2 class="heading-large">January 2017</h2>

    <span class="line"></span>
    <div class="timeline-event">
      <h3 class="heading-medium">Thursday, 26 January</h3>
      <h4 class="heading-small">Added:</h4>
      <ul class="list list-bullet">
        <li><a href="#">This is a to-do</a></li>
        <li><a href="#">This is a to-do</a></li>
      </ul>
      <h4 class="heading-small">Changed:</h4>
      <ul class="list list-bullet">
        <li><a href="#">This is a to-do</a>
          <ul class="list list-bullet font-xsmall">
            <li>new task: &lsquo;This is a task&rsquo;</li>
            <li>new task: &lsquo;This is a task&rsquo;</li>
            <li>removed supporting content: ‘This is some supporting content’</li>
          </ul>
        </li>
        <li>&lsquo;<a href="#">This is a to-do</a>&rsquo;
          <ul class="list list-bullet font-xsmall">
            <li>added guidance content</li>
          </ul>
        </li>
      </ul>
      <h4 class="heading-small">Removed:</h4>
      <ul class="list list-bullet">
        <li>&lsquo;This is a to-do&rsquo;</li>
        <li>&lsquo;This is a to-do&rsquo;</li>
      </ul>
    </div>{# /timeline-event #}

    <span class="line"></span>
    <div class="timeline-event">
      <h3 class="heading-medium">Monday, 16 January</h3>
      <h4 class="heading-small">Added:</h4>
      <ul class="list list-bullet">
        <li><a href="#">This is a to-do</a></li>
      </ul>
      <h4 class="heading-small">Changed:</h4>
      <ul class="list list-bullet">
        <li><a href="#">This is a to-do</a>
          <ul class="list list-bullet font-xsmall">
            <li>new task: &lsquo;This is a task&rsquo;</li>
            <li>removed supporting content: ‘This is a presentation’</li>
            <li>removed supporting content: ‘This is a video’</li>
          </ul>
        </li>
      </ul>
    </div>{# /timeline-event #}

    <span class="line"></span>
    <div class="timeline-event">
      <h3 class="heading-medium">Tuesday, 10 January</h3>
      <h4 class="heading-small">Changed:</h4>
      <ul class="list list-bullet">
        <li><a href="#">This is a to-do</a>
          <ul class="list list-bullet font-xsmall">
            <li>removed task: &lsquo;This is a task&rsquo;</li>
            <li>removed task: ‘This is a task’</li>
            <li>added supporting content: ‘This is some supporting content’</li>
          </ul>
        </li>
      </ul>
    </div>{# /timeline-event #}

    <h2 class="heading-large">December 2016</h2>

    <span class="line"></span>
    <div class="timeline-event">
      <h3 class="heading-medium">Thursday, 22 December</h3>
      <h4 class="heading-small">Changed:</h4>
      <ul class="list list-bullet">
        <li><a href="#">This is a to-do</a>
          <ul class="list list-bullet font-xsmall">
            <li>changed the name of this to-do from &lsquo;This is an old to-do&rsquo;</li>
            <li>added supporting content: ‘This is some supporting content’</li>
          </ul>
        </li>
        <li><a href="#">This is a to-do</a>
          <ul class="list list-bullet font-xsmall">
            <li>added supporting content: ‘This is some supporting content’</li>
            <li>added supporting content: ‘This is some supporting content’</li>
          </ul>
        </li>
      </ul>
    </div>{# /timeline-event #}

    <h2 class="heading-large">November 2016</h2>

    <span class="line"></span>
    <div class="timeline-event">
      <h3 class="heading-medium">Friday, 28 November</h3>
      <h4 class="heading-small">Changed:</h4>
      <ul class="list list-bullet">
        <li><a href="#">This is a to-do</a>
          <ul class="list list-bullet font-xsmall">
            <li>removed supporting content: &lsquo;This is some supporting content&rsquo;</li>
            <li>removed supporting content: &lsquo;This is some supporting content&rsquo;</li>
          </ul>
        </li>
      </ul>
    </div>{# /timeline-event #}

    <span class="line"></span>
    <div class="timeline-event">
      <h3 class="heading-medium">Tuesday, 25 November</h3>
      <h4 class="heading-small">Added:</h4>
      <ul class="list list-bullet">
        <li><a href="#">This is a to-do</a></li>
      </ul>
    </div>{# /timeline-event #}

    <h2 class="heading-large">October 2016</h2>

    <span class="line"></span>
    <div class="timeline-event">
      <h3 class="heading-medium">Monday, 10 November</h3>
      <h4 class="heading-small">Added:</h4>
      <ul class="list list-bullet">
        <li><a href="#">This is a to-do</a></li>
        <li><a href="#">This is a to-do</a></li>
      </ul>
      <h4 class="heading-small">Removed:</h4>
      <ul class="list list-bullet">
        <li>This is a to-do</li>
        <li>This is a to-do</li>
      </ul>
    </div>{# /timeline-event #}

    <div class="clear"></div>

  </div>{# /timeline #}

</main>

{% endblock %}