{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
  
      <h1 class="heading-xlarge inline-heading">Leeds One
        <span class="heading-secondary">
          Going live: 12 December 2017
        </span>
      </h1>

      <div class="nav-tabbed light-tabbed">
        <ul>
          <li><a href="to-do-list"><span class="small">Things you need to do</span></a></li>
          <li><a href="to-do-list-completed"><span class="small">Completed</span></a></li>
          <li class="current"><span class="small">Archived</span></li>
        </ul>
        <div class="clear"></div>
      </div>{# /nav-tabbed #}

      <h2 class="heading-large">Things replaced or no longer required</h2>
      <p>A record of your activity and comments are saved here for your reference.</p>
    
      <table>
        <thead>
          <tr>
            <th>Activity</th>
            <th>Date archived</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">This is a to-do</a></td>
            <td>20 June 2017</td>
          </tr>
          <tr>
            <td><a href="#">This is a to-do</a></td>
            <td>20 June 2017</td>
          </tr>
          <tr>
            <td><a href="#">This is a to-do</a></td>
            <td>20 June 2017</td>
          </tr>
        </tbody>
      </table>

    </div>{# /column-full #}
  </div>{# /grid-row #}

</main>

{% endblock %}